<div class="page-header">
    <h1>{{ model.project.name }}</h1>
</div>

<div>
<h4><a href="#/projects">Back to projects</a></h4>
</div>

<a href="javascript:;" onclick="show('tasklistForm')" class="btn">Add a new Tasklist</a>

<div id="tasklistForm" class="row well width8 display">

<form name="tasklistForm">
  <div class="control-group" ng-class="{error: tasklistForm.title.$invalid}">
    <label>Title</label>
    <input type="hidden" name="authenticity_token" ng-model="csrfToken">
    <input id="input_tasklistForm" type="text" name="title" ng-model="newTasklist.title" required>
    <span ng-show="tasklistForm.title.$error.required" class="help-inline">
        Required</span>
  </div>

  <button ng-click="saveTaskList()" ng-disabled="tasklistForm.title.$invalid"
          class="btn btn-primary">Save</button>
  <a href="javascript:;" onclick="hide('tasklistForm')" class="btn">Cancel</a>
</form>

</div>


<div class="row">
    <div class="span12">
            <table class="table table-striped">
                <thead>
                    <tr class="row-fluid">
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>

                <tr class="row-fluid" ng-repeat="tasklist in tasklists | orderBy:orderProp"  >
                            <td ><a href="#/projects/{{projectId}}/tasklists/{{tasklist.id}}">{{tasklist.title}}</a>
                        <ul>
                            <li ng-repeat="task in tasklist.tasks" id="task{{task.id}}">
                                <input type="checkbox" ng-model="task.done" ng-click="taskDone(tasklist.id, task.id)" class="ng-pristine ng-valid">
                                <span class="done-{{task.done}}"> {{task.title}} </span> 
                            </li>
                        </ul>   
                        <div>
                            <a href="javascript:;" onclick="show('taskForm{{tasklist.id}}')" id="add_taskForm{{tasklist.id}}" >Add a new Task</a>
                            <div id="taskForm{{tasklist.id}}" class="row well width8 display">
                            <form name="taskForm{{tasklist.id}}">
                              <div class="control-group" ng-class="{error:taskForm{{tasklist.id}}.title.$invalid}">
                                <label>Title</label>
                                <input id="input_taskForm{{tasklist.id}}" type="text" name="title" ng-model="tasks[tasklist.id].title" required>
                                <span ng-show="true" class="help-inline">
                                    Required</span>
                              </div>
                              
                              <button ng-click="saveTask(tasklist.id)" ng-disabled="taskForm{{tasklist.id}}.title.$invalid"
                                      class="btn btn-primary">Save</button>
                              <a href="javascript:;" onclick="hide('taskForm{{tasklist.id}}')" class="btn">Cancel</a>
                            </form>

                            </div>
                        </div>


                 </tr>
    
                </tbody>
            </table>
           
    </div>
</div>