<div id="task{{task.id}}" class="hoverable"  data-task-id="{{task.id}}" date-task-finishedAt="{{task.finishedAt}}">
    
    <div >
        <span ng-switch on="task.status">
        <div ng-switch-when="todo" class="hide hide-actions" style="left: -80px;">
            <a class="delete" ng-click="taskDelete()">Delete</a>
            <a class="edit" onclick="show('taskEditForm{{task.id}}')">Edit</a>
        </div>
        </span>

        <input type="checkbox" ng-model="task.status" ng-true-value="done" ng-false-value="todo" ng-click="taskDone(task)" class="ng-pristine ng-valid" >
       
        
        <span ng-switch on="task.status">
            <span ng-switch-when="todo">
                <span class="status-{{task.status}}"> <a class="title" href="#/projects/{{project.id}}/tasks/{{task.id}}">{{task.title}}</a> 
                </span>
                <span class="inline assign-{{task.status}}" >
                    <a id="assignTask{{task.id}}" href="javascript:;" data-options="" data-date="{{task.planedAt || ''}}" data-date-format="yyyy-mm-dd" ng-click="assign()" >{{showAssign()}}</a>
                </span>
            </span>
            <span ng-switch-default>
                <span class="status-{{task.status}}"> <a class="title" href="#/projects/{{project.id}}/tasks/{{task.id}}">{{task.title}}</a> 
                </span>
                
                <span class="inline assign-{{task.status}}">{{showComplete()}}</span>
            </span>
        </span>

    </div>

    <div id="taskEditForm{{task.id}}" class="well width8 display">
            <form name="taskEditForm{{task.id}}">
                <div class="control-group" ng-class="{error: taskEditForm{{task.id}}.name.$invalid}">
                    <label></label>
                    <input id="input_taskForm{{tasklist.id}}" type="text" name="title" ng-model="title" class="input-xxlarge input-text"  required>
                    <span ng-show="taskEditForm{{task.id}}.title.$error.required" class="help-inline">Required</span>
                </div>
                <button ng-click="taskUpdate(task)" ng-disabled="taskEditForm{{task.id}}.$invalid" class="btn btn-primary">Save</button>
                <a href onclick="hide('taskEditForm{{task.id}}')" class="btn">Cancel</a>
            </form>
        </div>
    
</div>