<div class="page-header">
    <h1>{{ tasklist.title }}</h1>
</div>

<ul class="breadcrumb">
        <li><a href="/#/projects">Projects</a> <span class="divider">/</span></li>
        <li><a href="/#/projects/{{project.id}}">{{project.title}}</a> <span class="divider">/</span></li>
        <li><a href="/#/projects/{{project.id}}/tasklists/{{tasklistId}}">{{tasklist.title}}</a></li>
</ul>

<div class="relative">
    <tasklist data-tasklist="tasklist" data-project="project" tasklist-title="{{tasklist.title}}" >
    </tasklist>
</div>
 