<div class="page-header">
    <h1>New user</h1>
</div>

<% form_for(user, {action: path_to.users(), method: 'POST', id: "user_form", class: 'form-horizontal'}, function (form) { %>
    <%- partial('users/form.ejs', {locals: {form: form, user: user, action: "new"}}) %>
    <div class="form-actions">
        <%- form.submit('<i class="icon-ok icon-white"></i> Create user', {class: 'btn btn-primary'}) %> or
        <%- link_to('Cancel', path_to.users(), {class: 'btn'}) %>
    </div>
<% });%>
