html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
input[type="radio"],
input[type="checkbox"] {
  vertical-align: baseline;
  margin-right: 4px;
}
form .fields {
  list-style-type: none;
}
form .fields input {
  min-width: 400px;
}
form .fields textarea {
  min-width: 400px;
  min-height: 200px;
}
form {
  margin: 0;
}
.control-group input.input-text {
  width: 570px;
  margin-bottom: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  outline: 0;
  resize: none;
  font-size: 16px;
  line-height: 1.3;
  height: 20px;
  padding: 5px;
}
.display {
  display: none;
}
.status-done {
  color: #808080;
}
.status-done a.title {
  color: #b0b0b0;
  text-decoration: line-through;
}
.assign-done {
  color: #b0b0b0;
  font-size: 12px;
}
.assign-todo {
  font-size: 12px;
  line-height: 16px;
  padding: 0 7px;
  background: #eee;
  border: 1px solid transparent;
  color: #666;
  white-space: nowrap;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
.assign-todo a {
  color: #887;
}
.page-header h1 {
  font-size: 24px;
  color: #000;
  line-height: 28px;
  font-weight: bold;
}
.header {
  margin: 0 0 10px;
}
.footer {
  border-top: 1px solid #ddd;
  padding: 20px 0 0;
  margin: 20px 0 20px 0;
}
.inline {
  display: inline-block;
}
.relative {
  margin-bottom: 20px;
  position: relative;
}
.relative ul li {
  margin-bottom: 5px;
  padding-right: 100px;
  vertical-align: baseline;
  position: relative;
}
a.text {
  color: #000;
}
a.text:hover {
  color: #136691;
}
a.button {
  color: #0093b8;
}
a.title {
  color: #303030;
  line-height: 20px;
  font-size: 15px;
  font-family: "Segoe UI", helvetica, arial, sans-serif;
}
.errors {
  color: #f00;
}
.hide-actions {
  position: absolute;
  left: -110px;
  width: 80px;
  z-index: 0;
  background: transparent;
  display: none;
  border-radius: 10px 0 0 10px;
  -webkit-box-shadow: -1px 0 2px rgba(0,0,0,0.2);
  -moz-box-shadow: -1px 0 2px rgba(0,0,0,0.2);
  box-shadow: -1px 0 2px rgba(0,0,0,0.2);
}
.hide-actions a {
  display: inline-block;
  padding: 0 3px 3px;
  font-size: 12px;
  color: #887;
}
.hide-done {
  display: none;
}
.nav-tabs > .active-p-project > a,
.nav-tabs > .active-t-topic > a,
.nav-tabs > .active-s-settings > a,
.nav-tabs > .active-p-project > a:hover,
.nav-tabs > .active-t-topic > a:hover,
.nav-tabs > .active-s-settings > a:hover {
  color: #bbb;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
.show {
  display: block;
}
