<div class="page-header"><h1>Edit project</h1></div>

<% form_for(project, {action: path_to.project(project), method: 'PUT', id: "project_form", class: 'form-horizontal'}, function (form) { %>
    <%- partial('projects/form.ejs', {locals: {form: form, project: project, action: "edit"}}) %>
 
    <div class="form-actions">
        <%- form.submit('<i class="icon-ok icon-white"></i> Update project', {class: 'btn btn-primary'}) %> 
        <%- link_to('Cancel', path_to.project(project), {class: 'btn'}) %>
        or
        <%- link_to('Back to index', path_to.projects()) %>
    </div>
<% });%>