<div class="page-header">
    <h1>{{ model.project.name }}</h1>
</div>

<a href="javascript:;" onclick="show('tasklistForm')" class="btn">Add a new Tasklist</a>

<div id="tasklistForm" class="row well width8 hidde">

<form name="tasklistForm">
  <div class="control-group" ng-class="{error: myForm.name.$invalid}">
    <label>Title</label>
    <input type="hidden" name="authenticity_token" value="{{csrfToken}}" ng-model="csrfToken">

    <input type="hidden" name="projectId" ng-model="tasklist.projectId">
    <input type="text" name="title" ng-model="tasklist.title" required>
    <span ng-show="tasklistForm.title.$error.required" class="help-inline">
        Required</span>
  </div>
<a href="javascript:;" onclick="hide('tasklistForm')" class="btn">Cancel</a>
  <button ng-click="saveTaskList()" ng-disabled="tasklistForm.$invalid"
          class="btn btn-primary">Save</button>
</form>

</div>


<div class="row">
    <div class="span12">
            <table class="table table-striped">
                <thead>
                    <tr class="row-fluid">
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

        <tr class="row-fluid" ng-repeat="tasklist in model.tasklists | filter:query | orderBy:orderProp">
                            <td ><a href="#/projects/{{model.project.id}}/tasklists/{{tasklist.id}}">{{tasklist.title}}</a>
                         
                            <td>
                                delete                                       
                            </td>
                        </tr>
    
                </tbody>
            </table>
           
    </div>
</div>